<html lang="ko">
	<head>
		<link rel="stylesheet" href="index.css">
		<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
	</head>
	<body>
		<div id="app">
			{{ message }}
			<div>
				<input type="text" id="user_id" v-model="userId"/>
				<input type="password" id="user_password" v-model="userPassword"/>
				<button type="button">로그인</button>
			</div>
			<div>
				아이디 : {{userId}}<br/>
				비밀번호 : {{userPassword}}
			</div>
		</div>
		<div id="app-2">
			<span v-bind:title="message">
			  내 위에 잠시 마우스를 올리면 동적으로 바인딩 된 title을 볼 수 있습니다!
			</span>
		  </div>
		<script src="index.js"></script>
	</body>
</html>